body {
    background-color: #ccc;
    font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;
    
    margin: 0;
}

.container {
    background-color: white;
    
    margin: 60px;
    
    width: 1117px;
    
    box-shadow: -1px 1px 10px;
}

.site-header, .site-footer {
    background-color: #309;
    color: white;
    
    height:50px;
    padding: 10px 40px 0;
}

.site-header {
    font-size: 28px;
    font-weight: bold;
}

.nav-wrapper {
    height: 230px;
    background-color: #eee;
}

nav {
    padding: 190px 0 0;
}

nav ul {
    margin: 0 40px;
    padding: 0;
}

nav ul li {
    padding: 5px 0;
    display: inline;
    font-weight: bold;
}

nav a {
    padding: 0 30px;
    color: red;
}

nav #selected {
    border-bottom: 2px solid;
}

.site-footer {
    clear: both;
}

.site-footer #validator, #copyright, #resume-pdf {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    
    font-size: 12px;
}

.main {
    margin: 40px;
}

#content, #float-box {
    height: 600px;
    
    display: inline-block;
    vertical-align: middle;
}

.main #content {
    border: 2px solid #ccc;
    border-radius: 6px;
}

.main #content img {
    
}

.main #float-box {
    
}

.main #float-box h3 {
    margin: 10px 0 0;
}

.main #float-box p {
    margin: 0;
    padding: 0 10px;
}

a {    
    text-decoration: none;
}
