body {
    background: url(images/index-background.jpg);
    font-family: "Segoe UI Light", Arial, sans-serif;
}

h1, h2, h3 {
    text-shadow: -1px 1px 1px #000, 1px -1px 1px #fff;
}

#business-card {
    width: 1000px;
    height: 600px;
    
    margin: 100px auto;
    border-radius: 2px;
    
    box-shadow: -2px 2px 40px 6px black;
    background: url(images/business-card-texture.jpg);
}

#selfie {
    display: inline-block;
    margin: 73px;
}

    #selfie img {
        border: 2px solid;
        border-radius: 2px;
    }

#content {
    display: inline-block;
    vertical-align: top;
    margin: 73px 0;
}

#name {
    margin: 0 0 30px;
    position: relative;
}

    #name h1 {
        margin: 0;
        font-size: 58px;
    }

    #name #name-border-bottom {
        position: absolute;
        left: 60px;
        right: 40px;
        border-bottom: 1px solid;
        box-shadow: -1px 1px 1px #000;
    }

    #name h2 {
        margin: 0;
        
        font-size: 32px;
        text-align: right;
        font-style: italic;
        font-weight: 100;
    }

table {
    width: 100%;
    text-align: left;
    
    font-size: 20px;
}

th {
    
}

td {
    padding: 0 20px 40px 30px;
}

#business-card-menu {
    display: flex;
    justify-content:space-between;

}

#footer {
    color: white;
    
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

    #footer #validator {
        float: left;
    }

    #footer #copyright{
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }